<head>
    <link rel="stylesheet" href="css/style.css">
</head>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth px-0">
            <div class="row w-100 mx-0">
                <div class="col-lg-5 mx-auto">
                    <div class="auth-form-light text-center py-5 px-4 px-sm-5">
                        <div class="brand-logo text-center">
                            <img class src="/images/logoMini.svg" alt="TakeMyBooks.Org">
                        </div>
                        <div>
                            <% if(action==="addUser" ){ %>
                                <h4>Hello, Administrator, Register a new user</h4>
                                <%} else if(action==="registerUser" ) { %>
                                    <h4 class="font-weight-light"> Hello, user welcome to TakeMyBooks.Org

                                        <h6 class="font-weight-light">Signing up is easy. It only takes a few steps</h6>
                                    </h4>
                                    <h4 class="font-weight-light"> Sign up to continue.</h4>
                                    <% } else { %>
                                        <h4 class="font-weight-light"> Sign in to continue.</h4>
                                        <% } %>


                        </div>
                        <form class="pt-3" action="/user/userSignUp" method="post" autocomplete="off">
                                                     
                                                        <% if (locals.messages) { %>
                                        
                                                            <% Object.keys(messages).forEach((key)=> { %>
                                                           
                                                              
                                                                   
                                            <div class="form-group input-group">
                                                <div class="input-group-prepend bg-transparent">
                                                    <span class="input-group-text bg-transparent border-right-0">
                                                        <i class="mdi mdi-account text-primary"></i>
                                                    </span>
                                                </div>

                                                <input type="text" name="fullName"
                                                    class="form-control form-control-lg border-left-0"
                                                    placeholder="Full Name">
                                                <!-- <li class="text-danger" style="list-style:none ;"> -->
                                                   
                                                  
                                                       <% if (messages.param === 'email') { %> 
                                                        <% messages[key].forEach((message)=> { %>  
                                                            <p class="alert alert__success"> <%= message %></p>
                                                            <p class="alert alert__success"> <%= message %></p>
                                                           <% }) %> 

                                                <!-- </li> -->

                                                <% } %>
                                              <!-- <% }) %>  -->
                                                    <% } %>
                                            
                                            </div>

                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend bg-transparent">
                                                        <span class="input-group-text bg-transparent border-right-0">
                                                            <i class="mdi mdi-email text-primary"></i>
                                                        </span>
                                                    </div>
                                                    <input type="text" name="email"
                                                        class="form-control form-control-lg border-left-0"
                                                        placeholder="Email Address">
                                                </div>

                                            </div>
                                            <div class="form-group input-group">
                                                <div class="input-group-prepend bg-transparent ">
                                                    <span class="input-group-text bg-transparent border-right-0 ">
                                                        <i class="mdi mdi-cellphone-android text-primary "></i>
                                                    </span>
                                                </div>
                                                <select name="countryCode" class="custom-select"
                                                    style="max-width: 120px; height: 45px;max-height: 45px;"
                                                    id="exampleFormControlSelect2 ">
                                                    <option selected="">+91</option>
                                                    <option>+966</option>
                                                    <option>+971</option>
                                                    <option>+1</option>

                                                </select>
                                                <input name="phoneNumber" class="form-control"
                                                    placeholder=" Phone number" type="text">
                                            </div>
                                            <div class="form-group input-group ">
                                                <div class="input-group-prepend bg-transparent ">
                                                    <span class="input-group-text bg-transparent border-right-0 ">
                                                        <i class="mdi mdi-account-location text-primary "></i>
                                                    </span>
                                                </div>
                                                <select name="job" class="form-control form-control-lg "
                                                    id="exampleFormControlSelect2 ">

                                                    <span>
                                                        <option selected=" ">Select job type</option>
                                                    </span>
                                                    <option value="student">Student</option>
                                                    <option>Designer</option>
                                                    <option>Manager</option>
                                                    <option>Accounting</option>
                                                    <option>Engineer</option>
                                                    <option>Teacher</option>
                                                    <option>Artist</option>
                                                    <option>Medical</option>
                                                    <option>other</option>
                                                </select>
                                                <!-- https://7esl.com/jobs-and-occupations-vocabulary/ -->
                                            </div>
                                            <div class="form-group input-group">
                                                <div class="input-group-prepend bg-transparent">
                                                    <span class="input-group-text bg-transparent border-right-0">
                                                        <i class="mdi mdi-alarm text-primary"></i>

                                                    </span>
                                                </div>
                                                <input type="number" name="age"
                                                    class="form-control form-control-lg border-left-0"
                                                    placeholder="Age">
                                            </div>

                                            <div class="form-group input-group">
                                                <div class="input-group-prepend bg-transparent">
                                                    <span class="input-group-text bg-transparent border-right-0">
                                                        <i class="mdi mdi-home-map-marker text-primary"></i>
                                                    </span>
                                                </div>
                                                <input type="text" name="address"
                                                    class="form-control form-control-lg border-left-0"
                                                    placeholder="Address: This is your default delivery address ">
                                            </div>

                                            <div class="form-group input-group">
                                                <div class="input-group-prepend bg-transparent">
                                                    <span class="input-group-text bg-transparent border-right-0">
                                                        <i class="mdi mdi-home-map-marker text-primary"></i>
                                                    </span>
                                                </div>
                                                <input type="text" name="buildingNumber"
                                                    class="form-control form-control-lg border-left-0"
                                                    placeholder="Building Number">
                                            </div>

                                            <div class="form-group input-group">
                                                <div class="input-group-prepend bg-transparent">
                                                    <span class="input-group-text bg-transparent border-right-0">
                                                        <i class="mdi mdi-map-marker-radius text-primary"></i>
                                                    </span>
                                                </div>
                                                <input type="text" name="pinCode"
                                                    class="form-control form-control-lg border-left-0"
                                                    placeholder="Pin Code">
                                            </div>

                                            <div class="form-group input-group  ">
                                                <div class="input-group-prepend bg-transparent ">
                                                    <span class="input-group-text bg-transparent border-right-0 ">
                                                        <i class="mdi mdi-account-location text-primary "></i>
                                                    </span>
                                                </div>
                                                <select name="district" class="form-control form-control-lg "
                                                    id="exampleFormControlSelect2 ">
                                                    <option>District</option>
                                                    <option>Malappuram</option>
                                                    <option>Calicut</option>
                                                    <option>Kannur</option>
                                                    <option>Trissur</option>
                                                    <option>Kasarcode</option>
                                                </select>
                                            </div>

                                            <div class="form-group ">
                                                <div class="input-group ">
                                                    <div class="input-group-prepend bg-transparent ">
                                                        <span class="input-group-text bg-transparent border-right-0 ">
                                                            <i class="mdi mdi-lock-outline text-primary "></i>
                                                        </span>
                                                    </div>
                                                    <input id="password" type="password" name="password"
                                                        class="form-control form-control-lg border-left-0 "
                                                        id="exampleInputPassword " placeholder="Password ">
                                                    <div class="input-group-prepend bg-transparent "
                                                        id="togglePassword">
                                                        <span class="input-group-text bg-transparent border-right-0 ">
                                                            <i class="mdi mdi-eye-off text-primary "></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group ">

                                                <div class="input-group ">
                                                    <div class="input-group-prepend bg-transparent ">
                                                        <span class="input-group-text bg-transparent border-right-0 ">
                                                            <i class="mdi mdi-lock-outline text-primary "></i>
                                                        </span>
                                                    </div>

                                                    <input id="confirmPassword" type="password" name="confirmPassword"
                                                        class="form-control form-control-lg border-left-0 "
                                                        id="exampleInputPassword " placeholder="Conform Password ">
                                                    <div class="input-group-prepend bg-transparent "
                                                        id="toggleConfirmPassword">
                                                        <span class="input-group-text bg-transparent border-right-0 ">
                                                            <i class="mdi mdi-eye-off text-primary "></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                         

                                            <div class="mt-3 ">
                                                <button id="submit" type="submit" value="login"
                                                    class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn ">SIGN
                                                    UP</button>
                                            </div>
                                            <div>
                                                <% if(action==="registerUser" ){ %>

                                                    <div class="text-center mt-4 font-weight-light ">
                                                        Already have an account?
                                                        <a class="text-primary " href="/login">Sign-In
                                                        </a>
                                                    </div>

                                                    <% } %>
                                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>