<!-- //toggle button js to -->
<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h1 class="text-center">Settings</h1>

            <p class="card-description">
                Add Language
            </p>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Add Language</label>
                        <div class=" d-flex flex-row col-sm-9">
                            <input type="text" id="addLanguage" class="form-control  form-control-lg border-left-0"
                                placeholder="Add Book Language">
                            <button class="btn col-sm-3 block-icon btn-outline-primary m-auto"
                                id="addLanguageButton">Add
                                language</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Delete Language</label>
                        <div class=" d-flex flex-row col-sm-9">
                            <select id="category" class=" form-control ">
                                <option> <select id="category" class=" form-control ">
                                        <option> Category1</option>
                                        <option> Category1</option>
                                    </select></option>
                                <option> Category1</option>
                            </select>

                        </div>
                    </div>
                </div>
            </div>
            <p class="card-description">
                Add or Delete Pricing Type
            </p>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row ">
                        <label class="col-sm-3 col-form-label">Add Pricing Type</label>
                        <div class=" d-flex flex-row col-sm-9">
                            <input id="addPricingType" type="text" class="form-control   form-control-lg border-left-0"
                                placeholder="Add Pricing Type">
                            <button class="btn col-sm-3 block-icon btn-outline-primary m-auto "
                                id="addPricingTypeButton">Add
                                Pricing</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Delete Pricing Type</label>
                        <div class=" d-flex flex-row col-sm-9 ">
                            <select class="form-control ">
                                <option>Free</option>
                                <option>Donation</option>
                                <option>Delivery Charge</option>
                                <option>processing charge only</option>
                            </select>
                            <button class="btn col-sm-3  block-icon btn-outline-danger">Delete
                                Pricing</button>
                        </div>
                    </div>
                </div>
            </div>
            <p class="card-description">
                Add or Delete Vendor Type
            </p>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Add Vendor Type</label>
                        <div class=" d-flex flex-row col-sm-9 ">
                            <input type="text" id="addVendorType" class="form-control form-control-lg border-left-0"
                                placeholder="Add Vendor Type">
                            <button class="btn col-sm-3 block-icon btn-outline-primary " id="addVendorTypeButton">
                                Add Vendor</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Delete Vendor</label>
                        <div class=" d-flex flex-row col-sm-9">
                            <select class="form-control ">
                                <option>Free</option>
                                <option>Donation</option>
                                <option>Delivery Charge</option>
                                <option>processing charge only</option>
                            </select>
                            <button class="btn col-sm-3 block-icon btn-outline-danger" type="submit">Delete
                                Vendor </button>
                        </div>
                    </div>
                </div>
            </div>

            <p class="card-description">
                Add or Delete Payment method
            </p>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Add Payment Type</label>
                        <div class=" d-flex flex-row col-sm-9">
                            <input type="text" name="bookTitle" class="form-control form-control-lg border-left-0"
                                placeholder="Add Payment Type">
                            <button class="btn col-sm-3 block-icon btn-outline-primary " type="submit">Add
                                Payment </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Delete Vendor Type</label>
                        <div class=" d-flex flex-row col-sm-9">
                            <select class="form-control ">
                                <option>Free</option>
                                <option>Donation</option>
                                <option>Delivery Charge</option>
                                <option>processing charge only</option>
                            </select>
                            <button class="btn col-sm-3 block-icon btn-outline-danger" type="submit">Delete
                                Payment </button>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>