<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">

        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic" href="/allUsers">

                <i class="mdi mdi-account menu-icon"></i>
                <span class="menu-title">novels</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="/allUsers"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/addUser">Add an User</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/customers">customers</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/Donars">Donar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Buyers">Buyers</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/Sellers">Sellers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/educators">Educators</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/blockedUsers">Blocked Users</a>
                    </li>

                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic-books" aria-expanded="false" aria-controls="ui-basic">

                <i class="mdi mdi-view-headline menu-icon"></i>
                <span class="menu-title">all books</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic-books">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="/allBooks">All Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/addBooks">Add Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/ui-features/typography.html">Self-Help</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/ui-features/buttons.html">Poetry</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="pages/ui-features/typography.html">Memoir</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/ui-features/typography.html">History</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/ui-features/typography.html">Essays</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/ui-features/typography.html">Cookbooks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/ui-features/typography.html">Biographies and Autobiographies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/ui-features/typography.html">Women's Fiction
                        </a>
                    </li>

                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic-books" aria-expanded="false" aria-controls="ui-basic">

                <i class="mdi mdi-view-headline menu-icon"></i>
                <span class="menu-title">all authors</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic-books">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="/allBooks">All Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/addBooks">Add Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/ui-features/typography.html">Self-Help</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/ui-features/buttons.html">Poetry</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="pages/ui-features/typography.html">Memoir</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/ui-features/typography.html">History</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/ui-features/typography.html">Essays</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/ui-features/typography.html">Cookbooks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/ui-features/typography.html">Biographies and Autobiographies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/ui-features/typography.html">Women's Fiction
                        </a>
                    </li>

                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Orders">
                <i class="mdi mdi-chart-pie menu-icon"></i>
                <span class="menu-title">malayalam</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/tables">
                <i class="mdi mdi-grid-large menu-icon"></i>
                <span class="menu-title">categories</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="pages/icons/mdi.html">
                <i class="mdi mdi-emoticon menu-icon"></i>
                <span class="menu-title">best choice</span>
            </a>
        </li>


        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic-books" aria-expanded="false" aria-controls="ui-basic">

                <i class="mdi mdi-view-headline menu-icon"></i>
                <span class="menu-title">all books</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic-books">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="/allBooks">All Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/addBooks">Add Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/ui-features/typography.html">Self-Help</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/ui-features/buttons.html">Poetry</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="pages/ui-features/typography.html">Memoir</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/ui-features/typography.html">History</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/ui-features/typography.html">Essays</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/ui-features/typography.html">Cookbooks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/ui-features/typography.html">Biographies and Autobiographies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/ui-features/typography.html">Women's Fiction
                        </a>
                    </li>

                </ul>
            </div>
        </li>


        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                <i class="mdi mdi-account menu-icon"></i>
                <span class="menu-title">english</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
                <ul class="nav flex-column sub-menu">

                    <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Register </a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/samples/register-2.html"> Register 2 </a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/samples/lock-screen.html"> Lockscreen </a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Home page</a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> add wishlist modal</a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> view wishlist</a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> add to cart modal</a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> view cart</a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Buy now</a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html">Load checkout </a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> user account</a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html">profile Details </a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> address</a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> user logout</a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="documentation/documentation.html">
                <i class="mdi mdi-file-document-box-outline menu-icon"></i>
                <span class="menu-title">others</span>
            </a>
        </li>
    </ul>
</nav>
</nav>