<div class="container">
    <h1>Image Upload using Multer</h1>
    <div class="form">
      <form action="/admin/uploadPhoto" enctype="multipart/form-data" method="post">
        <input class="choose-file-btn" type="file" name="myImage" />
        <input class="upload-btn" type="submit" value="Upload Photo" />
      </form>
    </div>
    
    <h1>Uploaded Images</h1>


  </div>