<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth px-0">
            <div class="row w-100 mx-0">
                <div class="col-lg-4 mx-auto">
                    <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                        <div class="brand-logo text-center">
                            <img class src="/images/logoMini.svg" alt="TakeMyBooks.Org">
                        </div>
                        <div>
                            <% if(userType==="admin"){ %>
                                <h4>Hello, Administrator,</h4>
                                <h5>Login to your account</h5>
                                <%} else if(userType==="newUser") { %>
                                    <h4 class="font-weight-light"> Hello,
                                        <%- {username} %>welcome to TakeMyBooks.Org
                                    </h4>
                                    <h4 class="font-weight-light"> Sign in to continue.</h4>
                                    <% } else { %>
                                        <h4 class="font-weight-light"> Sign in to continue.</h4>
                                        <% } %>
                                            <div>
                                                <%- include('../error/flash-message.ejs') %>
                                            </div>
                                            <!-- views/pages -->
                        </div>

                        <form class="pt-3" action="userLogin" method="post">
                            <div class="form-group">
                                <label>Username</label>
                                <div class="input-group">
                                    <div class="input-group-prepend bg-transparent">
                                        <span class="input-group-text bg-transparent border-right-0">
                                            <i class="mdi mdi-account-outline text-primary"></i>
                                        </span>
                                    </div>
                                    <input type="text" name="email" class="form-control form-control-lg border-left-0" placeholder="Username" value="<%= locals.email ? email : '' %>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <div class="input-group">
                                    <div class="input-group-prepend bg-transparent">
                                        <span class="input-group-text bg-transparent border-right-0">
                                            <i class="mdi mdi-lock-outline text-primary"></i>
                                        </span>
                                    </div>
                                    <input type="password" name="password" class="form-control form-control-lg border-left-0" id="exampleInputPassword" placeholder="Password">
                                </div>
                            </div>
                            <div class="mt-3">


                                <button type="submit" value="login" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn ">SIGN
                                    IN</button>
                            </div>

                            <div>
                                <% if(!userType==="admin"){ %>
                                    <div>
                                        <div class="my-2 d-flex justify-content-between align-items-center ">
                                            <div class="form-check ">
                                                <label class="form-check-label text-muted ">
                                                    <input class="form-check-input " type="checkbox ">
                                                    Keep me signed in
                                                </label>
                                            </div>
                                            <a class="auth-link text-black " href="# ">Forgot password?</a>
                                        </div>
                                        <div class="mb-2 ">
                                            <button class="btn btn-block btn-facebook auth-form-btn " type="button ">
                                                <i class="mdi mdi-facebook mr-2 "></i>Connect using facebook
                                            </button>
                                        </div>
                                        <div class="text-center mt-4 font-weight-light ">
                                            Don't have an account? <a class="text-primary " href="register.html ">Create</a>
                                        </div>
                                    </div>
                                    <% } %>
                            </div>
                        </form>


                    </div>
                </div>
            </div>
        </div>

    </div>
</div>