<% if (link) { %>
        <ul class="messages">
            <li class="font-weight-light text-center text-info" style="list-style:none ;">
                <a href="<%- link %> "><%- link.linkMsg %> </a>

            </li>
        </ul>
    <% } %>